* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

h1 {
    color:red;
}

nav {
    padding:10px;
    background-color:rgb(59, 49, 87)
}

.box {
    border: 1px solid rgb(59, 49, 87);
    width:30px;
    padding: 2px;
    text-align:center;
}

span {
    border: 1px solid white;
    display: block;
    width:25px;
    cursor:pointer;
}

.sidebar {
    position: absolute;
    top:0;
    left:0;
    z-index:1;
    background-color: rgb(59, 49, 87);
    width:200px;
    height:100vh;
    transform: translateX(-200px);
    transition-duration: 1s;
}

.fields {
    padding: 10px;
}

.off {
    padding: 10px;
    cursor: pointer;
    margin-left:140px;
}

.off label span {
    cursor: pointer;
}

ul {
    margin-top:6px;
}

li {
    padding: 15px;
    text-align: center;
    background-color: rgb(78, 70, 100);
    margin-top:6px;
    color:rgb(221, 212, 245);;
    font-family: FontAwesome;
}

li:hover {
    background-color: rgb(59, 49, 87);
    cursor: pointer;
}

.login-brd {
    height: calc(100vh - 42px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    width: 350px;
    box-shadow: 0px 0px 2px rgb(59, 49, 87);
}

.heading {
    width: 350px;
    background-color: rgb(59, 49, 87);
    padding:10px;
    font-size: 20px;
    color:rgb(221, 212, 245);
}

.inp {
    padding:15px;
    text-align:center;
}

input[type = text] {
    outline:none;
    padding:10px;
    border: 1px solid rgb(149, 137, 182);
    font-size: 15px;
}

input[type = password] {
    outline:none;
    padding:10px;
    border: 1px solid rgb(149, 137, 182);
    font-size: 15px;
}

.btn {
    outline:none;
    width:170px;
    padding:10px;
    border: 1px solid rgb(59, 49, 87);
    background-color: rgb(59, 49, 87);
    color:rgb(221, 212, 245);
    cursor: pointer;
    font-size: 15px;
}

#txt {
    font-family:FontAwesome;
    font-size: 15px;
}

#pass {
    font-family:FontAwesome;
    font-size: 15px;   
}

.field {
    display:none;
}

.fiel {
    display:none;
}