* {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

label {
    color:white;
}

.table-div {
    height:calc(100vh - 42px);
    display: flex;
    justify-content: center;
    align-items:center;
}

.table-brd {
    max-height: 500px;
    overflow:auto;
}

#customers {
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #trash {
    font-family: FontAwesome;
    color:black;
    cursor:pointer;
  }

  #id-trash {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
  }

  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(78, 70, 100);
    color: white;
    position: sticky;
    top:0;
    left:0;
  }