<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/profile.css">
</head>
<body>
{{>navbar}}
{{>stsidebar}}

<div class = 'prf-brd'>
<div class = 'table-brd' style = 'width:500px'>
<table id="customers">
  <tr>
    <th>Notification</th>
  </tr>
  {{#each not}}
  <tr>
    <td>{{notification}}</td>
  </tr>
  {{/each}}
</table>
</div>
</div>

   <script src="./js/regmain.js"></script>
</body>
</html>