<html>
    <head>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <nav>
            <div class = 'box'>
              <input type="checkbox" name="check" id="check" checked style = 'display:none'>
                <label for="check" onclick = 'manju()' style = 'cursor:pointer'>
                <span style = 'margin-bottom:3px'></span>
                <span style = 'margin-bottom:3px'></span>
                <span style = 'margin-bottom:3px'></span>
                </label>
            </div>
        </nav>        
    </body>
</html>