<html>
    <head>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>

        <div class = 'sidebar' id = 'sidebar'>
            <div class = 'off'>
                <label for="check" onclick = 'manju()' style = 'cursor:pointer'>
                <span style = 'margin-bottom:3px'></span>
                <span style = 'margin-bottom:3px'></span>
                <span style = 'margin-bottom:3px'></span>
                </label>
            </div>
            <ul>
                <li onclick= 'chang();'>
                <label class="fas fa-user"></label>
                    Admin
                </li>
                <li onclick= 'change();'>
                <label class="fas fa-user"></label>
                    Student
                </li>
                <li onclick= 'changes();'>
               <label class="fas fa-user"></label>
                    Faculty
                </li>
            </ul>
        </div>     
    </body>
</html>